/* greek-ext */
@font-face {
  font-family: "Alegreya Greek";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../fonts/alegreya-greek-ext-italic.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Alegreya Greek";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../fonts/alegreya-greek-italic.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}
/* greek-ext */
@font-face {
  font-family: "Alegreya Greek";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../fonts/alegreya-greek-ext-normal.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Alegreya Greek";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../fonts/alegreya-greek-normal.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}
