body {
  font-family: "Crimson Text", "Alegreya", serif;
  margin: 0;
  font-size: 18px;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

.description {
  font-style: italic;
}

.lemma-header {
  font-weight: normal;
  margin-bottom: 0;
}

.lemma-refs {
  margin-top: 0;
  padding-left: 1rem;
  list-style: none;
}

.bibliography h2 {
  margin-top: 100px;
}

.bibliography table {
  border-spacing: 1rem 10px;
}

td.label {
  white-space: nowrap;
  vertical-align: top;
}
