<div title="This work has been completely indexed and reviewed." class="relative z-1 inline-flex align-top w-6 h-6 ml-0 duration-300 rounded-full text-slate-700 dark:text-slate-100 drop-shadow dark:drop-shadow-md transition-color hover:bg-slate-200 dark:hover:bg-slate-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" fill="currentColor" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none"></rect>
        <polyline points="172 104 113.3 160 84 132" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
        <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle>
    </svg>
</div>