<!DOCTYPE html>
{% load compress static i18n %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block full_head_title %}{% block head_title %}{% endblock %} – {% translate "Heidegger-index" %}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'heidegger_index/_index.scss' %}">
    {% endcompress %}
  </head>
  <body>
    {% block container %}
    <div class="container-md">
      {% block body %}{% endblock %}
    </div>
    {% endblock container %}
  </body>
</html>
