{% if status == "complete" %}
<div title="This work has been completely indexed and reviewed." class="inline-flex w-6 h-6 ml-0 text-green-600 align-top duration-300 rounded-full z-9 transition-color hover:bg-slate-200 dark:hover:bg-slate-600">
    <i class="ph-check-circle"></i>
</div>
{% elif status == "incomplete" %}
<div title="This work has not been completely indexed." class="inline-flex w-12 h-6 ml-0 align-top duration-300 rounded-full z-9 text-slate-600 dark:text-slate-100 transition-color hover:bg-slate-200 dark:hover:bg-slate-600">
    <i class="ph-info"></i>
</div>
{% endif %}