<div class="sticky w-screen mb-10 -ml-4 overflow-x-auto md:ml-0 md:w-auto top-6">
  <div class="flex items-center justify-between gap-1 px-3 py-2 mx-4 mb-2 text-3xl rounded-md shadow shrink-0 md:mx-0 md:w-full bg-slate-100 dark:bg-slate-600 dark:text-white w-fit">

  {% if alphabet.pre %}
  {% for letter in alphabet.pre %}
    <a href="{% url 'index:home' %}?start={{ letter }}#{{ letter }}" class="px-1 transition-colors rounded-md hover:bg-slate-200 dark:hover:bg-slate-500">{{ letter }}</a>
  {% endfor %}
  {% endif %}

  <div class="flex gap-1 rounded-md bg-slate-200 dark:bg-slate-500">
  {% for letter in alphabet.selected %}
    <button onClick="scrollToWithOffset('{{ letter }}')" class="px-1 transition-colors rounded-md hover:bg-slate-300 dark:hover:bg-slate-400">{{ letter }}</button>
  {% endfor %}
  </div>

  {% if alphabet.post %}
  {% for letter in alphabet.post %}
    <a href="{% url 'index:home' %}?start={{ letter }}#{{ letter }}" class="px-1 transition-colors rounded-md hover:bg-slate-200 dark:hover:bg-slate-500">{{ letter }}</a>
  {% endfor %}
  {% endif %}

  <button onClick="scrollToWithOffset('bibliography')" class="text-black transition-colors rounded-md dark:text-white hover:bg-slate-200 dark:hover:bg-slate-500">
    {% include '_bibliography_icon.html' %}
  </button>

  </div>
</div>

<script>
  function scrollToWithOffset(id, offset=96) {
    const element = document.getElementById(id);
    if (element) {
      const elementPosition = element.getBoundingClientRect().top;
      const offsetPosition = elementPosition + window.pageYOffset - offset;
    
      window.scrollTo({
        top: offsetPosition,
        behavior: 'smooth',
      });
      history.pushState({}, "", `#${id}`);
    }
  }
  </script>