{% extends '_site_base.html' %}

{% block body %}
<h1>Heidegger index</h1>
<p class="description">Managed by: <a href="https://github.com/andredelft" target="_blank" rel="noopener noreferrer">André van Delft</a> &amp; <a href="https://github.com/johannesdewit" target="_blank" rel="noopener noreferrer">Johannes de Wit</a></p>
{% for lemma in lemmas %}
<h3 class="lemma-header">
  <a href="{% url 'lemma-detail' lemma.slug %}" class="hidden-link">{{ lemma.format }}</a>
</h3>
{% include '_page_ref_list.html' with page_refs=lemma.pagereference_set.all only %}
{% endfor %}
<div class="bibliography">
  <h2>Bibliography</h2>
  <div class="bibliography-wrapper">
    {% for work in works %}
    {% if work.reference %}
    <a class="entry-wrapper hidden-link button" href="{% url 'work-detail' work.slug %}">
      <div class="entry-label">{{ work.id }}</div>
      {{ work.reference|safe }}
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}