{% extends '_site_base.html' %}

{% block body %}
<h1>Heidegger index</h1>
<p class="description">Managed by: André van Delft &amp; Johannes de Wit</p>
{% for lemma in lemmas %}
<h3 class="lemma-header">
  <i>{{ lemma }}</i>
  {% if lemma.type %}({{ lemma.get_type_display }}){% endif %}
</h3>
<ul class="lemma-refs">
  {% regroup lemma.pagereference_set.all by work as work_list %}
  {% for work, page_ref_list in work_list %}
    <li>
      {% if work.id in work_ids %}
        <a href="{% url 'work-detail' work.slug %}">{{work}}</a>:
      {% else %}
        {{ work }}:
      {% endif %}
      {{ page_ref_list|join:', ' }}
    </li>
  {% endfor %}
</ul>
{% endfor %}
<div class="bibliography">
  <h2>Bibliography</h2>
  <table>
    {% for work in works %}
    {% if work.reference %}
    <tr>
      <td class="label">{{ work.id }}</td>
      <td>{{ work.reference|safe }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endblock %}