{% extends '_site_base.html' %}

{% block head_title %}{{ lemma.value }}{% endblock head_title %}

{% block body %}
{% include '_home_button.html' %}

<h1 class="clear-right pb-8 text-5xl font-semibold dark:text-white">{{ lemma.value }}</h1>

{% if lemma.description %}
<div class="prose prose-2xl prose-slate dark:prose-invert prose-blockquote:not-italic prose-blockquote:text-[0.9em] prose-blockquote:leading-normal dark:prose-blockquote:border-l-slate-600 prose-a:decoration-sky-300">
  {{ lemma.description | safe }}
</div>
{% endif %}

{% if lemma.type == "w" and lemma.author %}
<div class="pb-8 pl-4 {{ body_text }}">
  <em>Author</em>: <a href="{% url 'index:lemma-detail' lemma.author.slug %}" class="{{ hidden_link_decoration }}">{{ lemma.author }}</a>
</div>
{% endif %}

{% include '_group_by_work.html' with ref_list=lemma.pagereference_set.all %}

{% if works %}
{% include '_lemma_list.html' with lemma_list=works title="Works by "|add:lemma.value %}
{% endif %}

{% if children %}
{% include '_lemma_list.html' with lemma_list=children title="Children" %}
{% endif %}

{% if related %}
{% include '_lemma_list.html' with lemma_list=related title="Related" %}
{% endif %}

{% endblock body %}
