{% extends '_site_base.html' %}

{% block head_title %}{{ lemma.value }}{% endblock head_title %}

{% block body %}
{% include '_home_button.html' %}

<h1 class="clear-right pb-8 text-5xl font-semibold dark:text-white">{{ lemma.value }}</h1>

{% if lemma.description %}
<div class="{{ description_prose }}">
  {{ lemma.description | safe }}
</div>
{% endif %}

{% if lemma.type == "w" and lemma.author %}
<div class="pb-8 pl-4 {{ body_text }}">
  <em>Author</em>: <a href="{% url 'index:lemma-detail' lemma.author.slug %}" class="{{ hidden_link_decoration }}">{{ lemma.author }}</a>
</div>
{% endif %}

{% include '_group_by_work.html' with ref_list=lemma.pagereference_set.all %}

{% if works %}
{% include '_lemma_list.html' with lemma_list=works title="Works by "|add:lemma.value %}
{% endif %}

{% for child in children %}
  <h2 class="pt-8 pb-4 text-3xl font-semibold dark:text-white" id="{{ child.slug }}">{{ child }}</h2>
  {% if child.description %}
  <div class="{{ description_prose }}">
    {{ child.description | safe }}
  </div>
  {% endif %}
  {% include '_group_by_work.html' with ref_list=child.pagereference_set.all %}
{% endfor %}

{% if related %}
{% include '_lemma_list.html' with lemma_list=related title="Related" %}
{% endif %}

{% endblock body %}
