{% extends '_site_base.html' %}

{% block body %}
{% if work.csl_json %}
<div>
  <a class="breadcrumb button" href="{% url 'index:home' %}">Home</a>
</div>
<h1>{{ work.csl_json.title }}</h1>
<h2>Reference</h2>
<p>{{ work.reference | safe }}</p>
<h2>Index terms</h2>
{% regroup page_refs by lemma as lemma_list %}
<ul class="lemma-refs">
  {% for lemma, page_ref_list in lemma_list %}
    <li>
      <a href="{% url 'index:lemma-detail' lemma.slug %}" class="hidden-link">{{ lemma.format }}</a>: {{ page_ref_list|join:', ' }}
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}