{% extends '_site_base.html' %}
{% load i18n %}

{% block head_title %}{{ work.title }}{% endblock head_title %}

{% block body %}
<a href="{% url "home" %}" class="menu-button icon-bookmarks-simple"></a>

<div class="work-detail">
<h1 class="work-detail__title {{ work.icon }}">{{ work.csl_json.title|safe }}</h1>
{% if page_filter %}</a>{% endif %}

{% if work.parent %}
<div class="work-detail__parent">
  <a href="{% url "work-detail" work.parent.slug %}" class="icon-book badge badge--secondary badge--large">{{ work.parent.title }}</a>
</div>
{% endif %}

{% if work.children.all %}
<ul class="work-list">
  {% for work in work.children.all|dictsort:"csl_json.page" %}
    <li>
      <a href="{% url "work-detail" work.slug %}">{{ work.title }}</a>, {{work.csl_json.page}}.
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if work.description %}
  {{ work.description | safe }}
{% endif %}

{% include 'components/ref_list/_group_by_lemma.html' with ref_list=term_list %}

{% if person_list %}
  <h3 class="icon-user">{% translate "Personen" %}</h3>
  {% include 'components/ref_list/_group_by_lemma.html' with ref_list=person_list group_title=people_mentioned %}
{% endif %}

{% if work_list %}
  <h3 class="icon-books">{% translate "Werken" %}</h3>
  {% include 'components/ref_list/_group_by_lemma.html' with ref_list=work_list group_title=works_mentioned %}
{% endif %}

{% if work_lemma %}
  <h3>{% blocktrans with title=work.csl_json.title %}Referenties aan <em>{{ title }}</em>{% endblocktrans %}</h3>
  {% include 'components/ref_list/_group_by_work.html' with ref_list=work_lemma.pagereference_set.all group_title=mentions_of %}
{% endif %}

{{ work.reference | safe }}

<div class="action-menu">
  <a class="action-menu__item icon-export" href="{% url "work-md-export" work.slug %}" download>
    {% translate "Exporteer als Markdown" %}
  </a>
</div>
</div>


{% endblock %}