{% extends '_site_base.html' %}

{% block body %}
{% if work.csl_json %}
<div>
  <a href="{% url 'index:home' %}">Home</a>
</div>
<h1 class="font-bold text-5xl py-4">{{ work.csl_json.title }}</h1>
<h2>Reference</h2>
<p>{{ work.reference | safe }}</p>
{% if work_lemma %}
  <h2>Mentions of <em>{{ work.csl_json.title }}</em></h2>
  {% include '_page_ref_list.html' with page_refs=work_lemma verbose_titles=True only %}
{% endif %}
<h2>Index terms</h2>
{% regroup page_refs by lemma as lemma_list %}
<ul>
  {% for lemma, page_ref_list in lemma_list %}
    {% if not lemma.type %}
      <li>
        <a href="{% url 'index:lemma-detail' lemma.slug %}">{{ lemma }}</a>: {{ page_ref_list|join:', ' }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% if person_list %}
  <h3>People mentioned</h3>
  <ul>
    {% regroup person_list by lemma as person_list %}
    {% for lemma, page_ref_list in person_list %}
      <li>
        <a href="{% url 'index:lemma-detail' lemma.slug %}">{{ lemma }}</a>: {{ page_ref_list|join:', ' }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if work_list %}
  <h3>Works mentioned</h3>
  <ul>
    {% regroup work_list by lemma as work_list %}
    {% for lemma, page_ref_list in work_list %}
      <li>
        <a href="{% url 'index:lemma-detail' lemma.slug %}">{{ lemma }}</a>: {{ page_ref_list|join:', ' }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endif %}
{% endblock %}
