.action-menu {
  margin: 3rem 0;
  font-size: 0.9em;

  &__item {
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    align-items: flex-start;
    line-height: 1.3;
    margin: 0.5em 0;
    font-weight: 400;
    color: var(--body-color);

    text-decoration: underline transparent;
    transition: $transition-colors;

    &::before {
      margin-top: 0.1em;
    }

    i {
      display: flex;
      text-decoration: none;
    }

    &:hover {
      color: var(--links-color);
    }
  }
}
